/********** Base styles **********/
#main-navbar {
	padding-bottom:0;
}
#main-navbar ul {
	margin-left: -1rem;
	margin-right: -1rem;
}
p {
	padding: 20px;
}
.container {
	max-width: 100%;
}
h1 { 
	margin-bottom: 1rem;
}
h2 {
	margin: 20px;
}
h3 {
	padding-top: 20px;
}